.task-item
{
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

input
{
  width: 350px !important;
  margin: 0 auto;
}

.form-btn
{
  display: block;
  margin: 0 auto;
}

.ptr
{
  cursor: pointer;
}